#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


h2 {
  margin-bottom: 15px;
  color: #333;
}

/* Loader */
.loader {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid #6c63ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Error */
.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

/* Weather Info */
.weather-info img {
  width: 80px;
}

.temp {
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0;
}

.desc {
  text-transform: capitalize;
  color: #555;
}
